<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CLC" publicKeyToken="D1246AC57F8D0FA6" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.6.5" newVersion="1.0.6.5"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
